@import '../../SASS/globals.scss';

.loader{
    @include flex-1(row,center);
    width: 90vw;
}

.circle {
    @include themed() {
        background: t('bg-white');
    }
    width: 20px;
    height: 20px;
    margin: 5px;
    border-radius: 50%;
    animation: animate 2s infinite linear;
}

.circle:nth-child(1) {
    animation-delay: 0.5s;
}

.circle:nth-child(2) {
    animation-delay: 1s;
}

.circle:nth-child(3) {
    animation-delay: 1.5s;
}

@keyframes animate {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}