@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
    src: url('../Asset/NeueHaasGrotesk/NeueHaasDisplay-Mediu.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



$color-black: #000;
$color-white: #FFFFFF;
$color-green: #37C16F;
$color-red: #B34E55;
$color-yellow: #ECC943;
$color-blue: #558ED7;
$color-blue-grey: #575472;
$bg-body: #121222;
$bg-header: #19182D;
$color-dark-blue: #1C1B2D;
$border-color: #212b37;
$font-family: 'Montserrat', sans-serif;

@mixin flex-1 ($direction, $justify) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: center;
}

@mixin flex-2 ($direction, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: $align;
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box!important;
    list-style-type: none;
    font-family: $font-family;
}

body{
  background: $bg-body;
  color: $color-white;
}


a{
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    cursor: pointer;
}

li{
  list-style: none;
}

