@import '../../SASS/globals.scss';

.coinDetail-section{
    margin-top: 50px;
    @include flex-1(row,flex-start);

    span{
        @include themed() {
            background-color: t('div');
            color: t('bg-span');
        }
    }

    .detail-item-1{
        @include flex-2(column,flex-start);
        flex-basis: 70%;

        .item_1{
            @include flex-1(row,flex-start);
            gap: 20px;

            div{
                font-size: 3.2rem;
                @include flex-1(row,flex-start);
                gap: 20px;
            }

            span{
                padding: 5px 8px;
            }
        }

        .item_2{
            color: $color-blue-grey;
            margin: 15px 0;
        }

        .item_3{
            @include flex-1(row,flex-start);
            gap: 25px;
            flex-wrap: wrap;
            margin-bottom: 20px;

            #price{
                font-size: 3rem
            }

            .change{
                background: $color-green;
                color: $color-white;
                padding: 8px 15px;
                border-radius: 5px;

                &.down{
                    background: $color-red;
                }

                span{
                    padding: 0;
                    background: none;
                    color: white;
                    
                }
            }

            span{
                padding: 5px 8px;
            }
        }

        .item_4{
            @include flex-1(row,flex-start);
            gap: 25px;

            span{
                background: none;
                @include themed() {
                    color: t('span');
                }
            }
        }

    }

    .detail-item-2{
        flex-basis: 30%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        
        div{
            @include themed() {
                color: t('text');
            }
            margin-bottom: 10px;

            &:nth-child(1){
                @include themed() {
                    color: t('span');
                }
            }

            span{
                background: none;
                @include themed() {
                    color: t('text');
                }
            }
        }
    }
}

@media screen and (max-width: 1026px) {
    .coinDetail-section{
        display: block;
    }
    .detail-item-2{
        display: none!important;
    }
}

@media screen and (max-width: 640px) {
    .item_1{
        flex-direction: column!important;
        align-items: flex-start!important;

        div{
            font-size: 2rem!important;
        }
    }
}