@import '../../SASS/globals.scss';

header{
    @include themed() {
        color: t('text');
        background: t('bg-header');
    }

    #mode-icon{
        font-size: 25px;
        margin-bottom: 5px;
        margin-right: 10px;
    }

    height: auto;
    padding: 20px 5%;

    #nav-brand{
        @include flex-1(row,center);
        font-size: 30px;
        font-weight: bold;
    }

    nav{
        @include flex-1(row,space-between);
    }

    .nav-item{
        @include flex-1(row,flex-end);
        gap: 25px;
    }

    .currency{
        position: relative;

        div{
            @include flex-1(row,center);
            cursor: pointer;
            text-transform: uppercase;
            font-weight: bold;
        }

        span{
            font-size: 16px;
            margin-left: 2px;
        }

        ul{
            position: absolute;
            top: 40px;
            z-index: 1;
            display: none;

            &.active{
                display: block;
            }

            li{
                @include themed() {
                    background: t('bg-body');
                }
                border: 1px solid silver;
                padding: 10px;
                cursor: pointer;
                font-weight: bold;

                &:hover, &.active{
                    @include themed() {
                        background: t('div-hover');
                    }

                }
            }
        }
    }

    #search-bar {
        position: relative;


        #search-input {
            line-height: 2rem;
            border-radius: 10px;
            height: 50px;
            font-size: 1rem;
            padding-top: 7px;
            padding-left: 40px;
            width: 280px;
            @include themed() {
                background: t('search-color');
                border-color: t('search-color');
                color: t('span')
            }
            border: 2px solid;
            outline: none;
            cursor: pointer;
          }

          #search-icon {
            cursor: pointer;
            position: absolute;
            left: 0;
            bottom: 8px;
            margin-top: 0.8rem;
            padding: 0px 0.5rem;
            font-size: 35px;
            color: $color-blue-grey;
          }
      }

      #search-mobile{
        padding: 8px 15px;
        font-size: 1.2rem;
        display: none;
        cursor: pointer;
      }
      
      
      .stats{
        margin-top: 25px;
        @include flex-1(row,space-between);
        font-weight: 600;

        div{
            @include themed() {
                color: t('span');
            }
            span{
                color: $color-blue;
                
            }
            
        }
      }
      
      
}

@media screen and (max-width: 992px) {

    header{
        padding: 20px 3%;
    }

    #nav-brand{
        font-size: 25px!important;
    }

    .stats{
        display: none!important;
    }

    .nav-item{
        flex-basis: 80%;
    }
}

@media screen and (max-width: 640px) {
    header{
        padding: 20px 3%;
    }

    #nav-brand{
        font-size: 20px!important;
    }

    .nav-item{
        gap: 5px!important;
    }

    #search-bar{
        display: none;
    }

    #search-mobile{
        display: block!important;
    }
}