@import '../../SASS/index.scss';

    table{
        width: 100%;
        border-collapse: collapse;
        font-size: 16px;
        table-layout: fixed;
        font-weight: bold;

        thead{
            height: 50px;
            border-top: 1px solid $border-color;
            border-bottom: 1px solid $border-color;
            color: $color-blue-grey;
            position: sticky;
            top: 0;
            z-index: 1;
            

            th{
                text-align: right;
                background: $bg-body;

                &:nth-child(1){
                    text-align: center;
                    width: 30px!important;
                }

                &:nth-child(2){
                    text-align: left;
                    padding: 0 10px;
                    width: 220px;
                }

                &:nth-child(3){
                    width: 120px;
                }

                &:nth-child(4){
                    width: 90px;
                }

                &:nth-child(5){
                    width: 90px;
                }

                &:nth-child(6){
                    width: 90px;
                }

                &:nth-child(7){
                    width: 180px;
                }

                &:nth-child(8){
                    width: 180px;
                }

                &:nth-child(9){
                    width: 200px;
                    padding-right: 10px;
                }

                
            }
        }

        tbody{
            
            tr{
                border-bottom: 1px solid #212b37;
                height: 80px;
                
                &:hover{

                    td{
                        background: rgb(41, 39, 39)!important;
                    }
                }
                
                
                td{
                    background: $bg-body;
                    text-align: right;

                    &#colorBlue{
                        color: $color-blue;
                    }


                    &:nth-child(1){
                        text-align: center;
                    }

                    &:nth-child(2){
                        text-align: left;
                        cursor: pointer;

                        div{
                            @include flex-1(row,flex-start);
                            gap: 5px;
                            padding-left: 10px;

                            a{

                                &:hover{
                                    text-decoration: underline;
                                }
                            }

                            span{
                                margin-top: 2px;
                                color: $color-blue-grey;
                            }
                        }
                    }


                    .price-change{
                        color: $color-green;
                        @include flex-1(row,flex-end);

                        &.down{
                            color: $color-red;
                        }
                    }

                    &:last-child{
                        padding-right: 10px;
                    }
                }
            }
        }
    }


@media screen and (max-width: 1026px) {
    .market-section, .watchlist-section{
        overflow-x: scroll;
    }

    th{
        

        &:nth-child(2){
            width: 25vw!important;
            position: sticky;
            left: 0;

           
        }

        &:nth-child(7), &:nth-child(8){
            width: 150px!important;
        }
    }

    td{

        &:nth-child(2){
            border-bottom: 1px solid $color-blue-grey;
            border-top: px solid $color-blue-grey;
            position: sticky;
            left: 0;

        }

    }
}

@media screen and (max-width: 640px) {
    th{

        &:nth-child(2){
            width: 45vw!important;
        }
    }

    td{
        border: none!important;
    }
}